* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
}

/* Header Section */
.header {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header-nav a {
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
}

.header-nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 10%;
}

.hero-text {
  text-align: left;
  margin-right: 50px;
}

.hero-image {
  background-color: #484f5c;
  text-align: center;
  width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: left;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
  text-align: left;
}

.cta-button {
  background-color: #3882F6;
  color: #F9FAF8;
  margin-top: 10px;
  padding: 10px 20px;
  border : none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Information Section */
.info-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #FFFFFF;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 30px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info-card {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-card-image {
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.info-card-content {
  color: #1F2937;
  font-size: 16px;
  text-align: center;
  margin-top: 10px
}

/* Quote Section */
.quote {
  background-color: #E5E7EB;
  padding: 40px 20px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  text-align: center;
  padding: 40px 10%;
}

.quote cite {
  font-style: normal;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

/* Call-to-Action Section */
.cta-section {
  background-color: #3882F6;
  color: #F9FAF8;
  text-align: center;
  padding: 40px 20px;
}

.cta-section .cta-button {
  border: 2px solid #F9FAF8;
}

.cta-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cta-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Footer Section */
.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer a {
  color: #3882F6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}